.body {
  font-family: "Wendy One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17e9e0;
  font-size: 25px;
  overflow-x: hidden;
  height: auto;
}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.button {
  position: block;
  font-family: "Wendy One", sans-serif;
  background-color: yellow;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
  cursor: pointer;
  margin: 10px;
}

#start {
  margin: 10px;
}

.first-section {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
}

input {
  border: transparent;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

#timer {
  margin: 20px;
  text-align: center;
}

#input-section {
  text-align: center
}

img {
  margin: 10px;
}

#timerProgress {
  margin: 10px;
}

.movie-class {
  text-align: center;
}

@media screen and (max-width:480px) {
  body {
    overflow-x: hidden;
    text-align: center;
  }
}
#done{
  min-height:70px;
}